#title {
  text-align: center;
  color: white;
  font-size: 200%;
}

button {
  background-color: DarkOrange;
  border: none;
  color: white;
  padding: 7px;
  margin: 5px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}

button:active {
  background-color: chocolate
}

button:hover {
  background-color: chocolate
}

input {
  border-radius: 25px;
  border: none;
  padding: 7px;
  margin: 5px;
  outline: none;
}
input:focus{
  background-color: MistyRose;
}

body {
  border: none;
  background-image: url("background.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#login_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  background-color: DodgerBlue;
  width: 50%;
}

.input_1 {
  margin: auto;
  width: 100%;
  padding: 7px 0px;
}

.input_1 input {
  border-radius: 25px;
  width: 100%;
  border: none;
  padding: 17px;
}

#login_button_div {
  width: 100%;
  padding: 7px 0px;
}

#Login {
  border: none;
  color: white;
  padding: 17px;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
}

#user_container, #admin_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  background-color: DodgerBlue;
}
#admin_container {
  width: 80%;
}



table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 7px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: white;}

tr:hover {background-color: #ddd;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: DarkOrange;
    color: white;
}

#stockTrade_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#quantity , #buySymbol {
  width: 100%;
}

/*
.input_1{
  margin-bottom: 10px;
  text-align: center;
  font-size: 300%
  font-family: Calibri, sans-serif;
}

.login{
  text-align: center;
  font-size: 300%
  font-family: Calibri, sans-serif;
}

.form_container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-right: 30%;
}

.form_container2 {
  position: relative;
  left: 15%;
  background-color: #ffffff;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-right: 30%;
  top: 20vh;
}

.admin_container {
  position: relative;
  background-color: #ffffff;
  border-radius: 25px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  margin-right: 30%;
}

h3 {
  font-size: 400%;
  font-family: Calibri, sans-serif;
}

body {
   background-image: url("background.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
   background-color: #cccccc;
}
*/
