#title {
  text-align: center;
  color: white;
  font-size: 350%;
}

button {
  background-color: DarkOrange;
  border: none;
  color: white;
  padding: 7px;
  margin: 5px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  border-radius: 20px;
  outline: none;
}

button:active {
  background-color: chocolate
}

button:hover {
  background-color: chocolate
}

input {
  border-radius: 25px;
  border: none;
  padding: 7px;
  margin: 5px;
  outline: none;
}
input:focus{
  background-color: MistyRose;
}

body {
  border: none;
  background-image: url("background.jpg");

  background-repeat: repeat;
  background-attachment: scroll;
  background-size: contain;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#login_container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  background-color: DodgerBlue;
  width: 50%;
}

.input_1 {
  margin: auto;
  width: 100%;
  padding: 7px 0px;
}

.input_1 input {
  border-radius: 25px;
  width: 100%;
  border: none;
  padding: 17px;
}

#login_button_div {
  width: 100%;
  padding: 7px 0px;
}

#Login {
  border: none;
  color: white;
  padding: 17px;

  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
  width: 100%;
}

#user_container, #admin_container, #search_stock_all{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 25px;
  background-color: DodgerBlue;
  width: 80%;
  margin: 5px;
}
#search_stock_all {
  background-color: DarkViolet;
}


table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 7px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: white;}

tr:hover {background-color: #ddd;}
th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: DarkOrange;
    color: white;
}

#stockTrade_form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#quantity , #buySymbol {
  width: 100%;
}
